:root {
  --botao-azul: #167bf7;
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --cor-de-fundo: #00030c;
  --botao-azul-efeito: #3c92fa;
  --fonte-principal: 'Inter', sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

/*-------------------------------------*/
