/*Primeira seção*/
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.principal {
  align-items: center;
  background-image: url(../img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.container__caixa {
  margin: 0 6em;
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__botao {
  color: var(--branco-principal);
  background-color: var(--botao-azul);
  border-radius: 5px;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}

.container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  color: var(--cinza-secundario);
  font-size: 12px;
}

/*Segunda seção*/

.secundario {
  align-items: center;
  margin: 0 10em;
}

.secundario__imagem {
  width: 80%;
}

.descricao__titulo {
  color: var(--branco-principal);
  font-size: 48px;
  font-weight: 700;
  margin: 0.3em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.container__descricao {
  padding: 2em;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-principal);
}

.lista__item {
  color: var(--branco-principal);
  font-size: 32px;
}

.rodape {
  margin: 0 3em;
  text-align: center;
}

.rodpe__logo {
  margin-bottom: 2em;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.lista__link a {
  color: var(--branco-principal);
  margin: 0 15px;
  text-decoration: none;
}

.lista__link a:hover {
  color: var(--cinza-secundario);
}

.lista__link a:active {
  color: var(--botao-azul);
}

.rodape__texto {
  color: var(--cinza-secundario);
  font-size: 14px;
  font-weight: regular;
  margin: 25px 0;
  text-align: center;
}
